---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import WorkFilter from "../components/WorkFilter.astro";
import WorkCaption from "../components/WorkCaption.astro";
import WorkGrid from "../components/WorkGrid.astro";

const workCollection = await getCollection("works");

const allTags = [...new Set(
  workCollection.flatMap((work) => work.data.tags ?? [])
)].sort();

const title = "WORKS";
---

<BaseLayout title={title}>
  <header class="title-header">
    <h2>WORKS</h2>
  </header>
  <WorkCaption/>
  <WorkFilter tags={allTags}/>
  <WorkGrid collection={workCollection} gap={4} borderWidth={1} />
</BaseLayout>
