---
import Separator from "../components/Separator.astro";

const year = new Date().getFullYear()
---

<footer>
<Separator />
  <p>&copy; <span id="footer-year">{year}</span> - All rights reserved</p>
</footer>
<style>
  footer {
    padding: 2rem 0;
    width:100%;
  }
  p {
    margin: 0;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
    color: var(--color-text-alt);
  }
</style>
<script is:inline>
  document.getElementById("footer-year").innerText = new Date().getFullYear();
</script>
