---
import Separator from "../components/Separator.astro";

const year = new Date().getFullYear()
---

<footer class="py-8 w-full">
  <Separator />
  <p class="m-0 font-bold leading-snug text-center text-muted">
    &copy; <span id="footer-year">{year}</span> Philippine Hoegen. All rights reserved.
  </p>
</footer>

<script is:inline>
  document.getElementById("footer-year").innerText = new Date().getFullYear();
</script>
