---
import TextSlider from "../components/TextSlider.astro";
import Separator from "../components/Separator.astro";

const currentPath = Astro.url.pathname;
const routes = {
  "/": "Home",
  "/archive/": "Archive",
  "/works/": "Works",
  "/news/": "News",
  "/bio/": "Bio",
};
const activeRoute = routes[currentPath] || null;
---

<nav class="sticky top-0 z-10 bg-surface">
  <header class="relative flex font-bold py-4 px-1 gap-4 items-center justify-between">
    <div>
      <h1 class="text-base font-[inherit] m-0">
        <a href="/" class={activeRoute === "Home" ? "current" : ""}>PHILIPPINE HOEGEN</a>
      </h1>
    </div>
    <div>
      <ul class="flex text-base list-none gap-4 my-0 mx-2 p-0">
         <li>
          <a href="/archive/" class={activeRoute === "Archive" ? "current" : ""} data-astro-prefetch>
            <TextSlider content="Archive" />
          </a>
        </li>
        <li>
          <a href="/works/" class={activeRoute === "Works" ? "current" : ""} data-astro-prefetch>
            <TextSlider content="Works" />
          </a>
        </li>
        <li>
          <a href="/bio/" class={activeRoute === "Bio" ? "current" : ""} data-astro-prefetch>
            <TextSlider content="Bio" />
          </a>
        </li>
        <li>
          <a href="/bio#contact" class={activeRoute === "Contact" ? "current" : ""} data-astro-prefetch>
            <TextSlider content="Contact" />
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/philippinehoegen/" rel="noopener"
            aria-label="Instagram, opens in a new tab." target="_blank">
            <span class="icon instagram"></span>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/philippine-hoegen-a755561b/" rel="noopener"
            aria-label="Linkedin, opens in a new tab." target="_blank">
            <span class="icon linkedin"></span>
          </a>
        </li>
      </ul>
    </div>
  </header>
  <Separator />
</nav>

<style>
  header a.current {
    pointer-events: none;
  }

  .icon {
    height: 20px;
    width: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .instagram { background-image: url('../assets/images/instagram.png'); }
  .linkedin  { background-image: url('../assets/images/linkedin.png'); }
</style>
