---
import type { CollectionEntry } from "astro:content";

type Props = {
  archive: CollectionEntry<"archive">[];
};

const { archive } = Astro.props;
---

<ul class="project-list" id="list" >
  {archive.map((work) => <li><a href={work.id}> {work.data.title} </a></li>)}
</ul>


<style>
  section {
    position: relative;
    overflow: hidden;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, calc(100% / 2));
    margin: 1rem 0 10rem;
    min-height: 400px;
    @media screen and (min-width: 30em) {
      grid-template-columns: repeat(4, calc(100% / 4));
    }
    @media screen and (min-width: 50em) {
      grid-template-columns: repeat(7, calc(100% / 7));
    }
  }
</style>
