---
import { ClientRouter } from "astro:transitions";

import "../styles/global.css";

import { SEO } from "astro-seo";

import SmoothScroll from "../components/SmoothScroll.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import "@fontsource-variable/instrument-sans";
import instrumentSansWoff2 from "@fontsource-variable/instrument-sans/files/instrument-sans-latin-wght-normal.woff2";

type Props = {
  title: string;
  description?: string;
};

const { title, description = "" } = Astro.props;

// Current page value (/home, /about, /404 ...)
const currentPage =
  Astro.url.pathname.replace(/\/$/, "").split("/").pop() || "home";
---

<!---
    <SEO
      title={title}
      description={description}
      charset="UTF-8"
      openGraph={{
        basic: {
          title: title,
          type: "image/jpeg",
          image: "/playersclub-og.jpg",
        },
      }}
      twitter={{
        creator: "@codrops",
      }}
      extend={{
        // extending the default link tags
        link: [
          {
            rel: "icon",
            type: "image/png",
            sizes: "16x16",
            href: "/favicon/favicon-16x16.png",
          },
          {
            rel: "icon",
            type: "image/png",
            sizes: "32x32",
            href: "/favicon/favicon-32x32.png",
          },
          {
            rel: "apple-touch-icon",
            sizes: "180x180",
            href: "/favicon/apple-touch-icon.png",
          },
          { rel: "manifest", href: "/favicon/site.webmanifest" },
          { rel: "sitemap", href: "/sitemap-index.xml" },
          {
            rel: "preload",
            href: instrumentSansWoff2,
            as: "font",
            type: "font/woff2",
            crossorigin: "anonymous",
          },
        ],
        // extending the default meta tags
        meta: [
          { name: "twitter:image", content: "/playersclub-og.jpg" },
          { name: "twitter:title", content: title },
          { name: "twitter:description", content: description },
          { name: "viewport", content: "width=device-width" },
          { name: "msapplication-TileColor", content: "#000000" },
          { name: "theme-color", content: "#ffffff" },
          { name: "generator", content: Astro.generator },
        ],
      }}
    />
 -->
<!doctype html>
<html lang="en" data-page={currentPage}>
  <head>
    <ClientRouter />
  </head>
  <body>
    <svg aria-hidden="true" focusable="false" style="position:absolute;width:0;height:0;overflow:hidden">
  <defs>
    <clipPath  id="svgHexagon" transform="scale(1 .5) " clipPathUnits="objectBoundingBox">
      	<path d="M0.12500000000000022,1.4330127018922196L0.12500000000000022,1.4330127018922196L0.03125,1.1082531754730551C0.015625,1.0541265877365276 0.015625,0.9458734122634728 0.03125,0.8917468245269453,L0.12499999999999986,0.5669872981077809L0.21874999999999983,0.2422277716886164C0.23437499999999978,0.18810118395208902 0.2812499999999998,0.13397459621556165 0.3124999999999998,0.13397459621556151,L0.4999999999999997,0.13397459621556124L0.6874999999999997,0.1339745962155611C0.7187499999999997,0.13397459621556096 0.7656249999999997,0.18810118395208833 0.7812499999999997,0.24222777168861584,L0.8749999999999999,0.5669872981077804L0.96875,0.8917468245269449C0.984375,0.9458734122634723 0.984375,1.0541265877365271 0.96875,1.1082531754730547,L0.8750000000000001,1.433012701892219L0.7812500000000003,1.7577722283113835C0.7656250000000003,1.8118988160479108 0.7187500000000003,1.8660254037844384 0.6875000000000003,1.8660254037844384,L0.5000000000000003,1.8660254037844388L0.31250000000000044,1.866025403784439C0.28125000000000044,1.866025403784439 0.23437500000000036,1.8118988160479117 0.21875000000000036,1.7577722283113844Z" fill="black"/>
    </clipPath>
    <clipPath  id="svgHexagon2" transform="scale(1 1) " clipPathUnits="objectBoundingBox">
      	<path d="M0.7165063509461098,0.1250000000000002L0.7165063509461098,0.1250000000000002L0.5541265877365276,0.031250000000000056C0.5270632938682638,0.015625000000000028 0.4729367061317364,0.015624999999999986 0.4458734122634727,0.031249999999999972,L0.28349364905389046,0.12499999999999989L0.12111388584430821,0.2187499999999998C0.09405059197604454,0.23437499999999978 0.06698729810778078,0.2812499999999998 0.06698729810778077,0.3124999999999998,L0.06698729810778065,0.4999999999999997L0.06698729810778052,0.6874999999999997C0.06698729810778051,0.7187499999999997 0.09405059197604419,0.7656249999999997 0.1211138858443079,0.7812499999999997,L0.2834936490538902,0.8749999999999998L0.44587341226347244,0.96875C0.47293670613173616,0.984375 0.5270632938682636,0.984375 0.5541265877365273,0.96875,L0.7165063509461096,0.8750000000000001L0.8788861141556918,0.7812500000000002C0.9059494080239554,0.7656250000000002 0.9330127018922192,0.7187500000000002 0.9330127018922192,0.6875000000000002,L0.9330127018922194,0.5000000000000003L0.9330127018922196,0.3125000000000004C0.9330127018922196,0.2812500000000004 0.905949408023956,0.23437500000000036 0.8788861141556922,0.21875000000000033Z" fill="black"/>
    </clipPath>
  </defs>
</svg>




    <SmoothScroll />
    <Header />
    <slot />
    <Footer />
    <script src="../scripts/imageFade.js"></script>
  </body>
</html>